<h1>商品一覧</h1>
<%= link_to '商品を登録',:controller => "products", :action => "new" %>
<% @products.each do |product|%>
<div class="card mb-3">
  <%if product.image.url %>
  <%= image_tag product.image.url,:class => "card-img-top" %>
  <% else %>
    <%= image_tag "noimage.png",:class => "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= product.name %>(<%= product.price %><%= product.currency_unit %>)</h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text"><small class="text-muted"><%= product.updated_at %></small></p>
  </div>
</div>
<% end %>

